
.boxctrl::-webkit-scrollbar{
    display: none;

}

.ctrl::-webkit-scrollbar{
    display:none ;
}

.togglenav {
    left: -100%; /* Ensure it starts off-screen */
  }


.giftctrl::-webkit-scrollbar{
    display: none;
}

.saleboxctrl::-webkit-scrollbar{
    display: none;
}

.newproduct::-webkit-scrollbar{
    display: none;
}

.card::-webkit-scrollbar{
    display: none;
}


.product::-webkit-scrollbar{
    display: none;
}