@tailwind base;
@tailwind components;
@tailwind utilities;

.h1 {
  cursor: pointer;
}
@layer base {
  @font-face {
    font-family: NewYork;
    font-style: normal;
    font-weight: 400;
    src: url(/Eco/public/Fonts/Poppins/NewYork\ PERSONAL\ USE.ttf ) format('woff2');
    font-display: swap;
  }
}

@layer base {
  @font-face {
    font-display: swap;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    src: url(/Eco/public/Fonts/Poppins/Poppins-Regular.ttf) format('woff2');
  }
}
