@tailwind base;
@tailwind components;
@tailwind utilities;


.h1{
 cursor: pointer;
}


@layer base {
    @font-face {
      font-family: NewYork;
      font-style: normal;
      font-weight: 400;
      src: url(/Fonts/NewYork\ PERSONAL\ USE.ttf) format('truetype');
      font-display: swap;
    }
  }
  
  @layer base {
    @font-face {
      font-family: Poppins;
      font-style: normal;
      font-weight: 400;
      src: url(/Fonts/Poppins/Poppins-Regular.ttf) format('truetype');
      font-display: swap;
    }
  }
  